@mixin theme($color: rgb(62, 175, 255)) {
    background-color: $color;
    color: white;
}

@mixin flex-gap($gap-amount: 1rem) {
    display: flex;
    gap: $gap-amount;
}

@mixin flex-align($alignment: center) {
    display: flex;
    align-items: $alignment;
}

@mixin flex-justifity($alignment: center) {
    display: flex;
    justify-content: $alignment;
}

@mixin pill() {
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    padding: 0.2rem 1.7rem;
}

@mixin card() {
    @include borderbox();
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 0.3rem;
}

@mixin borderbox() {
    box-sizing: border-box !important; 
    -moz-box-sizing: border-boz !important; 
    -webkit-box-sizing: border-box !important;
}

html, body, .container {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
.container {
    background-color: #e3e3e3;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 10rem 1fr;
}

.container > div {
    padding: 1rem;
}
  
.sidebar {
    @include theme();
    grid-row: 1 / 3;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 1rem;
    }

    li {
        @include flex-gap(); 
        @include flex-align();
        margin-bottom: 0.2rem;
        cursor: pointer;
    }   
}
  
.top {
    background-color: #fff;
    display: grid;
    align-items: center;
    grid-template-rows: 40% 60%;
    gap: 0.5rem;

    input {
        @include pill();
        background-color: #e3e3e3;
        flex: 1;
    }

    button {
        @include pill();
        @include theme();
        height: 2rem;
        box-sizing: border-box;
        cursor: pointer;
    }

    button:hover {
        background-color: hsla(205, 100%, 62%, 0.5);
    }
}

.top > * {
    display: grid;
    grid-template-columns: 70% 1fr;
}
  
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

    h3 {
        margin: 0 0 0.5rem 0;
        padding: 0;
    }

    .card > h3, p {
        margin: 0;
        padding: 0;
    }

    p {
        opacity: 0.7;
    }

    strong {
        opacity: 1 !important;
    }
}

.main > div:first-child, #projects, #side-content {
    @include borderbox();
    height: 99%;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding-bottom: 1rem;
}

#projects > * {
    @include card();
    border-left: 0.5rem solid orange;
}

.card-icons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1rem;
}

.card-icons:hover {
    cursor: pointer;
}

#side-content > div{ 
    margin-bottom: 1rem;
}

#announcements, #trending {
    @include card();
}

#announcements > div:nth-child(even) {
    border-top: 1px solid hsla(0, 0%, 0%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    padding: 1rem 0;
    margin: 1rem 0;
}

#announcements p {
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

#trending {
    @include flex-gap();
}

#trending > div {
    @include flex-align();
    @include flex-gap(); 
}

.profile-image {
    height: 3rem;
    border-radius: 3rem;
}

.flex-stack {
    display: flex;
    flex-direction: column;
}

.flex-stack > * {
    margin: 0;
    padding: 0;
}

.flex-align-gap {
   @include flex-gap(); 
   @include flex-align();
}

.flex-gap {
    @include flex-gap();
}

.medium-gap {
    gap: 1.5rem;
}

.large-gap {
    gap: 5rem;
}

